body {
    /* top: 0%;
    left: 0%; */
    padding: 0;
    margin: 0;
}

header{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}
/* copy header */
nav {
    background-color: #333333;
    overflow: hidden;
    padding: 15px 30px;
}

div.navLeft {
    width: 300px;
    float: left;
}

div.navRight li {
   color: #fff;
   font-family: 'Raleway', sans-serif;
   font-weight: 600;
   font-size: 15px;
   display: inline-block;
   float: right;
   width: 100px;
   padding-right: 0px;
   padding-bottom: 0px;
   font-variant: small-caps;
  }
div.navRight li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}
div.navRight li a:hover{
    background: white;
    color: #000000;
    border-radius: 35px;
}
  
div.navRight li img {
    width: 50px;
    /* margin-top: -20px; */
}
div.navRight {
    width: 600px;
    float: right;
}
div.navLeft img {
    width: 39px;
    height: auto;
}
div.navLeft .logoTitle {
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 23px;
    /* margin-top: -8px; */
    /* margin-left: 80px */
}
/* copy header end */
section {
    margin: auto;
}
main {
    font-family: 'Raleway', sans-serif;
    /* text-align: center; */
    position: relative;
    top: 80px;
}

.container {
    margin-top: -50px;
    padding-left: 500px;
    padding-right: 40px;
    padding-top: 200px;
}

.container h1 {
    font-family: 'Satisfy', cursive;
    color: white;
    text-align: left;
    text-shadow: black;
    ;    
}

.container p {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: black;
    text-align: justify;
    padding-right: 120px;
}

.container button {
    font-family: 'Raleway', sans-serif;
    position: relative;
    align-items: left;
}

.background-home {
    height: 800px;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    background-image:
    linear-gradient(to left, rgba(0, 0, 0, 2), rgba(255, 255, 255, 0.5)),
    url("photo-1413708617479-50918bc877eb.png");
    background-size: cover;
}
.menu{
    width: 100%;
    height: 50vh;
}
.menu .seeAll{
    float: right;
    font-size: 12px;
    font-style: italic;
    color: slateblue;
}
.menu .menuKategori {
    width: 80%;
    /* height: ; */
    margin: auto;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.menuKategori img {
    width: 70px;
    height: 90px;
}
.kotakKiri{
    float: left;
    width: 150px;
    padding: 15px;
    text-align: center;
    background: white;
    cursor: pointer;
    border: 1px solid rgba(127,127,127,0.5);
    border-radius: 25px;
    margin-right: 17.5px;
}
.produk{
    width: 80%;
    margin: auto;
}
.produk img {
    width: 150px;
    height: height;
}
.produkLeft{
    float: left;
    width: 250px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(127,127,127,0.5);
    border-radius: 15px;
    margin-right: 17.5px;

}
.produkLeft:hover{
    box-shadow: 1px 1px 3.5px 0.5px #333333;
}
.produkLeft button{
    width: 100px;
    padding: 7.5px 15px;
    background: #333;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: none;
}
.produkLeft button:hover{
    padding: 7.5px 25px;
    width: 150px;
}
.kotakKiri:hover{
    border: 1px solid rgba(128,128,128,1);    
}
.kotakKanan{
    float: right;
    width: 150px;
    padding: 15px;
    text-align: center;
    background: yellow;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 25px;
    box-shadow: 1px 1px 1px #333;
    margin-left: 25px;
}

/* detailProduct */
.grid-container {
    width: 80%;
    margin: auto;
    padding: 10px;
    overflow: hidden;
}
.grid-container img{
    width: 200px;
}
.grid-item-left{
    float: left;
    width: 20%;
}
.grid-item-right{
    float: right;
    width: 80%;
}
.warnaHarga{
    font-size: 30px;
    color: green;
    font-weight: bold;
}
.grid-information{
    width: 80%;
    margin: auto;
}
#buyNow, #addToCart{
    float: right;
}
a.buttonProduk{
    /* width: 50px; */
    padding: 0.5px 10px;
    background: green;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: none;
    margin-right: 10px;
}
a.buttonProduk p{
    color: white;
}

.sectionCart{
    width: 80%;
    margin: 15px auto;
    font-family: 'Raleway', sans-serif;
}

.food {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 20px 0;
    overflow: hidden;
    position: relative;
    background-color: #d9d9d9;
}

.food h3 {
    text-align: center;
}

#food {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: -80px;
    visibility: hidden;
}

.food li {
    size: 12px;
    display: inline-block;
}

.bakwan li a {
    text-decoration: none;
    color: black
}

.bakwan {
    padding-right: 10px;
    padding-left: 5px;
    text-align: center;
}

.bakwan2 {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.bakwan3 {
    padding-right: 5px;
    padding-left: 10px;
    text-align: center;
}

.bakwan img, .bakwan2 img, .bakwan3 img {
    width: 350px;
}

.bakwan a, .bakwan2 a, .bakwan3 a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.drink {
    background-color: #d9d9d9;
    padding-top: 20px;
}

.drink li {
    size: 12px;
    display: inline-block;
}

.minuman img {
    width: 350px;
}

.minuman {
    padding-right: 10px;
    padding-left: 5px;
    padding-bottom: 35px;
}

.minuman a, .minuman p {
    text-align: center;
    text-decoration: none;
    color: #333333;
}

.drink h3 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.drink p {
    font-family: 'Raleway', sans-serif;
}

#drink {
    position: absolute;
    top: -80px;
    visibility: hidden;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: center;
    padding-top: 100px;
}


p {
    color: black;
    
}

li {
    color: black;
    
    
}

a.button {
    font-size: 10px;
    appearance: button;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    border-radius: 50px;
    text-decoration: none;
    padding: 0px 10px;
    position: relative;
    margin: 0px 140px;
    float: right;
}

a.button:hover {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px 10px;
    width: 100%;
    z-index: 1;
    bottom: 0;
    margin-left: -10px;
    padding-bottom: 30px;
}
  
footer p {
    font-family: 'Fira Code', monospace;
    text-transform: uppercase;
    font-size: 11px;
    color: #d9d9d9;
    text-align: center;
    padding: 0px 200px;
}

footer li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

footer ul {
    padding-left: 47.5%;
}

footer img {
    width: 25px;
}

.gridform{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 400px;
    padding-top: 10px;
    padding-bottom: 50px;;
}
.title{
    padding-top: 100px;
    text-align: center;

}



  .iphone img {
    width: 350px;
}

table.center {
    width: 100%; 
}
table img {
    width: 150px;
}
table, th, td{
    
    border: 1px solid black;
    border-collapse: collapse; 
    position: center;
}

th, td{
    padding: 15px;
}

#daftar{
    background-color:orange;
    width: 80px;
    height:40px;
    text-align: center;
}
#email{
    background-color: red;
    width: 150px;
    height:30px;
    text-align: center;
}
#facebook{
    background-color: blue;
    width: 80px;
    height:30px;
    text-align: center;
}

.kotak_login{
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
}
 
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_login{
	background: #333333;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
.formLogin a{
	background: #333333;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}